@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    font-family: Rubik, sans-serif;
    background: #fff;
    color: #000;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

button, input, select, textarea {
    font: inherit;
    background: none;
    border: none;
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body{
    background-color:#040b1b;
}

header{
    display: flex;
    align-items: center;
}

header{
    padding: 2rem 5rem 5rem;
}

header img{
    width: 9rem;
    height: auto;
}
.logo-text{
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
}
.homepage{
    display: flex;
    justify-content: space-around;
}

.homepage div h1{
    line-height: 7vh;
    padding-top: 15vh;
    padding-right: 30vh;
    text-transform: uppercase;
    color: #fff;
    font-size: 5rem;
    text-align:left;
}

.homepage div p{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding-right: 30vh;
    padding-bottom: 20vh;
}

.homepage img{
    box-shadow: rgba(18, 0, 130, 0.5) -5px 5px, rgba(18, 0, 130, 0.4) -10px 10px, rgba(18, 0, 130, 0.3) -15px 15px, rgba(18, 0, 130, 0.2) -20px 20px, rgba(18, 0, 130, 0.05) -25px 25px;
    width: 45vh;
    height: auto;
    border-radius: 5%;
}

.button-88 {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(18, 0, 130, 0.5) 0%, rgba(12, 0, 88, 0.5) 100%);
  box-shadow: 0 0.7em 1.5em -0.5em rgba(28, 0, 209, 0.5);
  letter-spacing: 0.05em;
  border-top: 20vh;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-88:hover {
  box-shadow: 0 0.5em 1.5em -0.5em rgb(24, 4, 150);
  transform: scale(1.1);
  transition: 1.5s;
}

.button-88:active {
  box-shadow: 0 0.3em 1em -0.5em rgba(168, 164, 190, 0.5);
}

.about{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 15rem;
}

.about h2{
    text-transform: uppercase;
    font-size: 3rem;
    padding: 8vh;
    text-align: center;
}

.about span{
    color: rgba(18, 0, 130, 1) ;
}

.about p{
    font-size: 1.3rem;
    padding: 0 25vh;
    padding-bottom: 15rem;
    text-align: center;
}

.points{
    display: flex;
    justify-content: space-around;
    padding-bottom: 15rem;
}

.points div{
    padding-top: 5rem;
}

.points div h2{
    padding-bottom: 3vh;
    line-height: 7vh;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-align:left;
}

.points div ul{
    line-height: 3.5vh;
    list-style: square;
    padding-left: 0;
    color: #fff;
}

.points img{
    width: 60vh;
    height: auto;
    border-radius: 10%;
    box-shadow: -13px 15px 57px -1px rgba(0,0,0,0.20);
}

.cta {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

.cta h2{
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;
}

.cta p{
    color: #fff;
    font-size: 1.2rem;
    padding-bottom: 3rem;
}

footer{
    width: auto;
    height: auto;
    display: flex;
    background-color: #02050e;
    justify-content: space-around;
}

footer div{
    flex-direction: column;
    color: #fff;
    display: flex;

}

footer h2{
    color:  rgba(18, 0, 130, 1);
    font-size: 3rem;
}

footer img{
    height: 10rem;
}